form {
    width: 30%;
    background-color: #dadada;
    margin: auto;
    padding: 30px;
}

input {
    width: 90%;
    margin: 0;
    margin-bottom: 5px;
}

h3 {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

h4 {
    font-size: 12px;
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
}

.App {
    margin: 50px;
}
